/* line 1, ../sass/buttons.scss */
.mybutton {
  background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#88d2ea), to(#00a0d3));
  border: 1px solid #999;
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFF;
  float: left;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  height: 60px;
  position: relative;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.35), 0px 1px 1px rgba(255, 255, 255, 0.15);
  z-index: 400;
  /* **** USE THESE FOR 4 BUTTON LAYOUT ****
  margin: 0 1.76% 0 0; 
  padding: 0 1.5%;
  width: 23.68%;*/
  /* **** USE THESE FOR 5 BUTTON LAYOUT **** */
  margin: 0 1.1% 0 0;
  padding: 0.8% 1.5% 0 1.5%;
  width: 19%;
}

/* line 25, ../sass/buttons.scss */
.mybutton:hover {
  /*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,150,221,1)), color-stop(100%,rgba(40,129,188,1)));*/
  background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#91e0fa), to(#00aae0));
  color: white !important;
  cursor: pointer;
}

/* line 32, ../sass/buttons.scss */
.mybutton.active {
  background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#ad92c9), to(#4d148c));
  border: #777;
}

/* line 37, ../sass/buttons.scss */
.mybutton.active:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#b89cd6), to(#5a17a3));
}

/* line 41, ../sass/buttons.scss */
.mybutton .gray {
  background: -webkit-gradient(linear, 0% 0%, 0% 74%, from(#cccccc), to(#888888));
}

/* line 45, ../sass/buttons.scss */
.mybutton span {
  font-size: 75%;
}

/* line 49, ../sass/buttons.scss */
.mybutton:last-child {
  margin: 0;
}

/* line 53, ../sass/buttons.scss */
.mybutton img {
  margin-top: -3px;
}

/* line 57, ../sass/buttons.scss */
.btn_group {
  background-color: #aaa;
  position: relative;
  z-index: 300;
  left: -3px;
  top: -3px;
  border-radius: 5px;
  height: 67px;
  width: 59.7%;
}
