/* **********************************************
   PAPER PICKUP FLYOUT
   ********************************************** */
/* line 5, ../sass/flyout.scss */
#flyout {
  background-color: #AAA;
  background-clip: padding-box;
  /*border: 1px solid #02B3F0;*/
  border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  display: none;
  min-height: 300px;
  padding: 1px;
  position: absolute;
  text-align: left;
  white-space: normal;
  width: 925px;
  z-index: 1010;
}

/* line 28, ../sass/flyout.scss */
#flyout:after, #flyout:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  margin-top: -1px;
  position: absolute;
  pointer-events: none;
}

/* line 39, ../sass/flyout.scss */
#flyout:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #FFF;
  border-width: 20px;
  left: 70%;
  margin-left: -20px;
}

/* line 47, ../sass/flyout.scss */
#flyout:before {
  border-color: rgba(194, 225, 245, 0);
  /*border-top-color: #02B3F0;*/
  border-top-color: #999;
  border-width: 21px;
  left: 70%;
  margin-left: -21px;
}

/* line 56, ../sass/flyout.scss */
#flyout h4 {
  background-color: #CCC;
  /*	background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#FFFFFF), to(#B2B2B2));*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 3px 10px;
}

/* line 64, ../sass/flyout.scss */
#paper_types {
  box-shadow: inset -4px 0px 2px -2px rgba(0, 0, 0, 0.25);
  float: left;
  min-height: 330px;
  width: 250px;
}

/* line 71, ../sass/flyout.scss */
#paper_types li {
  border-bottom: 1px solid #888;
  color: #444;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

/* line 79, ../sass/flyout.scss */
#paper_types li:last-child {
  border-bottom: none;
}

/* line 83, ../sass/flyout.scss */
#paper_types li.active {
  background-color: #FFF;
  color: #00A0D3;
}

/* line 89, ../sass/flyout.scss */
#paper_types li p {
  color: #444;
  font-weight: normal;
}

/* line 94, ../sass/flyout.scss */
#paper_types li.active p {
  color: #444;
}

/* line 98, ../sass/flyout.scss */
#tiles {
  background-color: #FFF;
  box-sizing: border-box;
  -webkit-column-count: 3;
  /* Safari and Chrome */
  column-count: 3;
  -webkit-column-gap: 18px;
  /* Safari and Chrome */
  column-gap: 18px;
  column-fill: auto;
  -webkit-column-fill: auto;
  float: left;
  padding: 18px;
  width: 675px;
}

/* line 112, ../sass/flyout.scss */
.tile {
  border-radius: 3px;
  box-sizing: border-box;
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  height: 36px;
  line-height: 2em;
  margin: 0 0 6px 0;
  padding: 2px;
}

/* line 123, ../sass/flyout.scss */
.tile:hover {
  background: #00a0d3 url("../img/check-button-icon1.png") 95% 50% no-repeat;
  background-size: 10% 50%;
  color: #FFF;
  cursor: pointer;
}

/* line 130, ../sass/flyout.scss */
.selected-option {
  background: url("../img/check-button-icon1.png") 95% 50% no-repeat;
  background-size: 10% 50%;
}
