/* line 1, ../sass/upload.scss */
.fxo-sw-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* line 8, ../sass/upload.scss */
.fxo-sw-sections {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 14, ../sass/upload.scss */
.fxo-sw-container section {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 20, ../sass/upload.scss */
.fxo-sw-screen-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 26, ../sass/upload.scss */
.fxo-sw-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* line 33, ../sass/upload.scss */
.fxo-bwiz-container .container {
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 940px;
}

/* line 40, ../sass/upload.scss */
.fxo-bwiz-screen-inner {
  margin-right: 30px;
}

/* line 44, ../sass/upload.scss */
.bwiz-white-box {
  background-color: white;
  border: 1px solid #BCBCBC;
  min-height: 400px;
  margin-bottom: 10px;
}

/* line 51, ../sass/upload.scss */
.fxo-bwiz-file-container {
  background-color: white;
  padding: 20px;
}

/* line 56, ../sass/upload.scss */
#fileupload-container {
  position: relative;
  min-height: 320px;
  text-align: center;
  border: 4px dashed #E0E0E0;
  margin: 20px;
  padding: 30px 30px 10px 30px;
  background-color: white;
}
/* line 65, ../sass/upload.scss */
#fileupload-container h2 {
  font-weight: normal;
  font-size: 1.8em;
}

/* line 71, ../sass/upload.scss */
.fxo-fileupload-content {
  z-index: 99;
}

/* line 75, ../sass/upload.scss */
.fxo-fileupload-target-inner {
  background-color: white;
  height: 100%;
  width: 100%;
}

/* line 81, ../sass/upload.scss */
.fileupload-content h3 {
  color: black;
  font-weight: normal;
  font-size: 1.8em;
}

/* line 87, ../sass/upload.scss */
.fxo-fileupload-or-container {
  position: relative;
  background: url("/img/concept1/fileupload-or-circle.png") no-repeat center center;
  height: 30px;
  width: 30px;
  color: white;
  width: 100%;
  font-size: 15px;
  top: -15px;
}

/* line 99, ../sass/upload.scss */
.fxo-bwiz-upload-container {
  background-color: white;
  margin-right: 10px;
  border: 1px solid #999999;
  width: 410px;
  padding: 20px;
  position: absolute;
  top: 0px;
}

/* line 109, ../sass/upload.scss */
.fileupload-splitbox {
  float: left;
}

/* line 113, ../sass/upload.scss */
.fileupload-splitbox-50 {
  box-sizing: border-box;
  width: 50%;
}

/* line 118, ../sass/upload.scss */
.fileupload-inputbox {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

/* line 124, ../sass/upload.scss */
.hero-unit {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
}

/* line 130, ../sass/upload.scss */
.fxo-fileupload-selectbutton.btn {
  height: 26px;
  width: 164px;
  line-height: 26px;
}

/* line 136, ../sass/upload.scss */
.btn-primary {
  font-weight: bold;
  background-color: #00a1db !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b7f9", endColorstr="#00a0db");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00b7f9), to(#00a0db));
  background-image: -moz-linear-gradient(top, #00b7f9, #00a0db);
  background-image: -ms-linear-gradient(top, #00b7f9, #00a0db);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7f9), color-stop(100%, #00a0db));
  background-image: -webkit-linear-gradient(top, #00b7f9, #00a0db);
  background-image: -o-linear-gradient(top, #00b7f9, #00a0db);
  background-image: linear-gradient(#00b7f9, #00a0db);
  border-color: #00a0db #00a0db #009bd4;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
  -webkit-font-smoothing: antialiased;
}

/* line 154, ../sass/upload.scss */
.fxo-bwiz-template-container {
  /*height: 100%;*/
  overflow: auto;
  padding-left: 50%;
}

/* line 160, ../sass/upload.scss */
.fxo-bwiz-template-list {
  list-style: none;
  margin: 0px 0px 100px 0px;
}

/* line 165, ../sass/upload.scss */
.fxo-bwiz-template-header {
  font-family: "Arial Narrow";
  margin-bottom: 0px;
}

/* line 170, ../sass/upload.scss */
.fxo-bwiz-template-filter-box {
  text-align: center;
  margin-bottom: 10px;
}

/* line 175, ../sass/upload.scss */
.fxo-bwiz-template-filter-box select {
  width: 150px;
  margin-top: 10px;
}

/* line 180, ../sass/upload.scss */
.fxo-bwiz-template-image {
  width: 200px;
  height: 190px;
}

/* line 185, ../sass/upload.scss */
.fxo-bwiz-template-item {
  cursor: pointer;
  float: left;
  width: 50%;
}

/* line 191, ../sass/upload.scss */
.fxo-bwiz-template-item-inner {
  width: 200px;
  margin: 0px auto 15px auto;
}

/* line 196, ../sass/upload.scss */
.fxo-bwiz-template-item-inner img {
  width: 198px;
  border: 1px solid #BBBBBB;
  border-bottom: none;
}

/* line 202, ../sass/upload.scss */
.fxo-bwiz-template-item button {
  width: 100%;
}

/* line 206, ../sass/upload.scss */
.fxo-bwiz-template-item:hover button {
  color: white !important;
  background: #3896dd;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4OTZkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODgxYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #3896dd 0%, #2881bc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3896dd), color-stop(100%, #2881bc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3896dd 0%, #2881bc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3896dd 0%, #2881bc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3896dd 0%, #2881bc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3896dd 0%, #2881bc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3896dd', endColorstr='#2881bc',GradientType=0 );
  /* IE6-8 */
}

/* line 221, ../sass/upload.scss */
.fxo-bwiz-confirm-sign {
  /*margin-right: 35px;*/
}

/* line 225, ../sass/upload.scss */
.fxo-bwiz-btnbox-left {
  margin-right: 10px;
}

/* line 229, ../sass/upload.scss */
fxo-bwiz-btnbox-right {
  margin-left: 10px;
}

/* line 234, ../sass/upload.scss */
.fxo-bwiz-sign-container {
  background-color: white;
  border: 1px solid #999999;
  margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
  min-height: 445px;
}

/* line 242, ../sass/upload.scss */
.fxo-bwiz-sign-canvascontainer {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -163px;
}

/* line 249, ../sass/upload.scss */
.fxo-bwiz-sign-back-preview-front {
  position: relative;
  margin: 90px 20px 0px 0px;
}

/* line 254, ../sass/upload.scss */
.fxo-bwiz-sign-back-preview-back {
  position: relative;
}

/* line 258, ../sass/upload.scss */
.fxo-bwiz-sign-back-preview-back canvas {
  opacity: 0.3;
}

/* line 262, ../sass/upload.scss */
.fxo-bwiz-sign-preview-front {
  position: relative;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}

/* line 269, ../sass/upload.scss */
.fxo-bwiz-sign-preview-back {
  position: relative;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}

/* line 276, ../sass/upload.scss */
.fxo-bwiz-sign-front-canvascontainer {
  position: absolute;
  top: 31px;
  left: 9px;
}

/* line 282, ../sass/upload.scss */
.fxo-bwiz-sign-back-canvascontainer {
  position: absolute;
  top: 38px;
  left: 30px;
}

/* line 288, ../sass/upload.scss */
.fxo-bwiz-sign-back-box {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}

/* line 294, ../sass/upload.scss */
.fxo-bwiz-sign-preview-front-canvascontainer {
  position: absolute;
  top: 38px;
  left: 18px;
}

/* line 300, ../sass/upload.scss */
.fxo-bwiz-sign-preview-back-canvascontainer {
  position: absolute;
  top: 38px;
  left: 30px;
}

/* line 306, ../sass/upload.scss */
.fxo-bwiz-sign-preview-buttonbar button {
  width: 200px;
}

/* line 310, ../sass/upload.scss */
.fxo-bwiz-sign-preview-details {
  margin-top: 12px;
}

/* line 315, ../sass/upload.scss */
.fxo-bwiz-sign-preview-name {
  width: 400px;
  font-size: 1.3em;
}

/* line 320, ../sass/upload.scss */
.fxo-bwiz-sign-preview-name input {
  margin-left: 20px;
  font-weight: bold;
  height: 25px;
}

/* line 325, ../sass/upload.scss */
.fxo-bwiz-sign-preview-qty {
  width: 200px;
  font-size: 1.3em;
}

/* line 330, ../sass/upload.scss */
.fxo-bwiz-sign-preview-price {
  width: 100px;
  color: #777777;
  font-size: 1.5em;
  margin-top: 5px;
}

/* line 337, ../sass/upload.scss */
.fxo-bwiz-sign-preview-options {
  margin-left: 72px;
}

/* line 341, ../sass/upload.scss */
.fxo-bwiz-sign-preview-options li {
  font-weight: bold;
  text-decoration: underline;
  border: 1px solid #BBBBBB;
  float: left;
  padding: 10px;
  margin: 5px 10px 5px 0px;
  background: #f6f6f6;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWU5ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f6f6f6 0%, #e9e9e9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e9e9e9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #e9e9e9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%, #e9e9e9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%, #e9e9e9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f6f6 0%, #e9e9e9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e9e9e9',GradientType=0 );
  /* IE6-8 */
}
