$margin-two: 0 1.31% 0 0;
$padding-two: 0.5% 1.25% 0 1.25%;
$width-two: 48.85%;

$margin-four: 0 1% 0 0;
$padding-four: 0.5% 1.25% 0 1.25%;
$width-four: 23.5%;

$margin-five: 0 1% 0 0;
$padding-five: 0.5% 1.25% 0 1.25%;
$width-five: 19%;

.mybutton {
	background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#88D2EA), to(#00A0D3));
	border: 1px solid #999;
	border-radius: 5px;
	box-sizing: border-box;
	color: #FFF;
	font-family: Arial, sans-serif;
	font-size: 1.1em;
	height: 60px;
	position: relative;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.35), 0px 1px 1px rgba(255, 255, 255, 0.15);
	margin: 0 auto; 
	padding: 0 8%;
	width: auto;
	
	&:hover {
	/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,150,221,1)), color-stop(100%,rgba(40,129,188,1)));*/
		background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#91E0FA), to(#00AAE0));
		color: white !important;
		cursor: pointer;	
	}
	
	&:last-child {
		margin: 0;
	}
	
	&.active {
		background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#AD92C9), to(#4D148C));
		border: #777;
		
		&:hover {
			background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(#B89CD6), to(#5A17A3));	
		}
	}
	
	&.gray {
		background: -webkit-gradient(linear, 0% 0%, 0% 74%, from(#CCCCCC), to(#888888));
	}
	
	span {
		font-size: 75%;	
	}
	
	img {
		display: none;
		height: 22px;
		margin: -3px 7px 0 0;
	}
	
}


.mybutton img.selected-button {
	display: inline;
}

.close img {
	height: 22px;
}

/* BUTTON ON UPLOAD PAGE */

.hero-unit .mybutton {
	height: 50px;
	font-size: 90%;
}

/* BUTTONS ON PAPER PICKER PAGE */

.popular .mybutton {
	float: left;
	/* **** USE THESE FOR 5 BUTTON LAYOUT **** */
	margin: $margin-five;
	padding: $padding-five;
	width: $width-five;
	z-index: 400;
}

.btn_group {
	background-color: $med-gray2;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;	
	height: 67px;
	position: relative;
		top: -3px;
		left: -3px;
	width: 59.7%;
	z-index: 300;
}

.btn_group span {
	color: $lt-gray2;
	background-color: $med-gray2;
	border-top-left-radius: 5px;	
	border-top-right-radius: 5px;	
	font-size: 80%;
	padding: 6px;
	position: absolute;
		top: -26px;
		left: 0;
	text-align: center;
	width: 186px;
	@include inverted-shadow;
}

/* BUTTONS ON FINISHING OPTIONS PAGE */

.finishing_options .mybutton {
	margin: $margin-four;
	padding: $padding-four;
	width: $width-four;
}

/* BUTTONS ON EXPERIMENTAL PAPER PICKER PAGE */
#options.exp button {
	margin: $margin-two;
	padding: $padding-two;
	width: $width-two;
	
	&:last-child {
		margin: 0;
	}	
}

#options.exp button:first-child {
		margin: 0 18px 0 0;
}