/* **********************************************
   FINISHING OPTIONS FLYOUT
   ********************************************** */
   
#flyout_stapling, #flyout_binding, #flyout_hole_punching {
	
	&.flyouts { bottom: 70px; }
	&.flyouts:after { left: 62%; }
	&.flyouts:before { left: 62%; }   
   
   	#tiles {
   		
   		.tile {
   			background-color: rgba($lt-gray2, 0.75);
   			border-radius: 3px;
   			box-sizing: border-box;
   			float: left;
   			height: 200px;
   			line-height: 2em;
   			margin: 0 2% 2% 0;
   			padding: 12px 0;
   			text-align: center;
   			width: 32%;
   			
   				&:last-child { margin-right: 0; }
				   				
   				&:hover {
   					background-color: $fxo-blue1;
   					color: #FFF;
   					cursor: pointer;
   				}
   			
   				&.selected-option {
   					background-color: $fxo-blue1;
   					color: #FFF;
   					cursor: pointer;
   				}
   				
   				img { 
   					background-color: #FFF;
   					border: 2px solid #999;
   					width: 200px; 
   				}
   		}
   	}
} 

#hole_punch_simulator {
	height: 364px;
	position: absolute;
		top: 26px;
		left: 111px;	
	width: 515px;
	z-index: 300;
}
