/* **********************************************
   PAPER PICKUP FLYOUT
   ********************************************** */

.flyouts{
	display: none;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #999;
/*	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px; */
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	min-height: 250px;
	padding: 1px;
	position: absolute;
		bottom: 12px;
		left: 32px;
	text-align: left;
	white-space: normal;
	width: 925px;
	z-index: 1010;
}

.flyouts:after, .flyouts:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.flyouts:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #FFF;
	border-width: 20px;
	left: 70%;
	margin-left: -20px;
}

.flyouts:before {
	border-color: rgba(194, 225, 245, 0);
	/*border-top-color: #02B3F0;*/
	border-top-color: #999;
	border-width: 21px;
	left: 70%;
	margin-left: -21px;
}

.flyouts h4 {
	background-color: #CCC;
	background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#F5F5F5), to(#B2B2B2));
/*	border-top-left-radius: 5px;
	border-top-right-radius: 5px; */
	color: #333;
	padding: 3px 10px;
	@include inverted-shadow;
}

.close {
	cursor: pointer;
	position: absolute;
		right: 10px;
		top: 3px;
}

#paper_types {
	box-shadow: inset -4px 0px 2px -2px rgba(0, 0, 0, 0.25);
	float: left;
	min-height: 330px;
	width: 250px;	
}

#paper_types li {
	border-bottom: 1px solid #888;
	color: #444;
	cursor: pointer;
	font-weight: bold;
	padding: 10px;	
}

#paper_types li:last-child {
	border-bottom: none;
}

#paper_types li.active {
	background-color: #FFF;
	color: #00A0D3;
}


#paper_types li p {
	color: #444;
	font-weight: normal;
}

#paper_types li.active p {
	color: #444;
}