/* SWATCHES */
.swatch {
	border: 1px solid #AAA;
	height: 30px;
	float: left;
	margin-right: 8px;
	width: 30px;	
}

.white {
	background-color: #FFF;
}
.ivory {
	background-color: #feefca;
}

.canary {
	background-color: #fff07b;
}

.salmon {
	background-color: #f87d5e;
}

.orchid {
	background-color: #bcbcf3;
}

.pastel_blue {
	background-color: #95bfe1;
}

.green {
	background-color: #9fcfad;
}

.ultra_lemon {
	background-color: #f4fd0e;
}

.sun_yellow {
	background-color: #fbd00e;
}

.ultra_orange {
	background-color: #FF4000;
}

.red {
	background-color: #B20000;
}

.ultra_fuschia {
	background-color: #D900D9;
}

.bright_blue {
	background-color: #26C9FF;
}

.ultra_lime {
	background-color: #D2FF4D;
}

.natural {
	background-color: #FBF8F2;
}

.sand_stone {
	background-color: #F3EBEA;
}

.sea_spray {
	background-color: #EDF3FD;
}

.antique_gray {
	background-color: #FBF4CD;
}

.soft_pink {
	background-color: #FFDEE6;
}

.pastel_blue {
	background-color: #FFEFCE;
}