/* TILES */

#tiles {
	box-sizing: border-box;
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
	-webkit-column-gap:18px; /* Safari and Chrome */
	column-gap:18px;
	column-fill: auto;
	-webkit-column-fill: auto;
	float: left;
	padding: 18px;
	width: 100%;
}

#flyout_tabbed #tiles {
	width: 675px;
}

.tile {
	background-color: rgba($lt-gray2, 0.75);
	border-radius: 3px;
	box-sizing: border-box;
	break-inside: avoid-column;
	-webkit-column-break-inside: avoid;
	height: 36px;
	line-height: 2em;
	margin: 0 0 6px 0;
	padding: 2px;

	&:hover {
		background-color: $fxo-blue1;
		color: #FFF;
		cursor: pointer;
	}

	&.selected-option {
		background-color: $fxo-blue1;
		color: #FFF;
		cursor: pointer;
	}
	
	&.recycled {
		background-image: url(../img/recycle-icon-gray.png);
		background-position: 95% 57%;
		background-repeat: no-repeat;
	}
}

.tile img, .flyouts legend img {
	height: 16px;
}

.flyouts legend {
	background-color: #F5F5F5;
	border: 3px solid #FFF;
	box-sizing: border-box;
	display: block;
	font-size: 85%;
	padding: 4px;
	text-align: right;
	width: 100%;	
}

#flyout_tabbed legend {
	position: absolute;
		bottom: 0;
		right: 0;
	width: 73%;
}

/* ************ SWATCH COLORS ************* */

.swatch {
	border: 1px solid #AAA;
	height: 30px;
	float: left;
	margin-right: 8px;
	width: 30px;	
}

.swatch.selected-option {
	background-image: url(../img/check-button-icon1.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 50%;
}

.white {
	background-color: #FFF;
}
.ivory {
	background-color: #feefca;
}

.canary {
	background-color: #fff07b;
}

.salmon {
	background-color: #f87d5e;
}

.orchid {
	background-color: #bcbcf3;
}

.pastel_blue {
	background-color: #95bfe1;
}

.green {
	background-color: #9fcfad;
}

.ultra_lemon {
	background-color: #f4fd0e;
}

.sun_yellow {
	background-color: #fbd00e;
}

.ultra_orange {
	background-color: #FF4000;
}

.red {
	background-color: #B20000;
}

.ultra_fuschia {
	background-color: #D900D9;
}

.bright_blue {
	background-color: #26C9FF;
}

.ultra_lime {
	background-color: #D2FF4D;
}

.natural {
	background-color: #FBF8F2;
}

.sand_stone {
	background-color: #F3EBEA;
}

.sea_spray {
	background-color: #EDF3FD;
}

.antique_gray {
	background-color: #FBF4CD;
}

.antique_parchment {
	background-color: #FBF4CD;
}

.tan {
	background-color: #F9D8A7;
}

.soft_pink {
	background-color: #FFDEE6;
}

.pastel_blue {
	background-color: #FFEFCE;
}

.willow {
	background-color: #ECF2E6;
}