
			.fxo-sw-container {
			    width: 100%;
			    height: 100%;
			    overflow: hidden;
			    position: relative;
			}
			
			.fxo-sw-sections {
			    width: 100%;
			    height: 100%;
			    overflow: hidden;
			}
			
			.fxo-sw-container section {
			    width: 100%;
			    height: 100%;
			    position: absolute;
			}
			
			.fxo-sw-screen-container {
			    position: relative;
			    width: 100%;
			    height: 100%;
			}
			
			.fxo-sw-screen {
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    overflow: auto;
			}
			
			.fxo-bwiz-container .container {
			    padding-top: 20px;
			    margin-right: auto;
			    margin-left: auto;
			    width: 940px;
			}
			
			.fxo-bwiz-screen-inner {
			margin-right: 30px;
			}
			
			.bwiz-white-box {
				background-color: white;
				border: 1px solid #BCBCBC;
				min-height: 400px;
				margin-bottom: 10px;
			}
			
			.fxo-bwiz-file-container {
				background-color: white;
				padding: 20px;
			}

#fileupload-container {
	background-color: #FFF;
	border: 4px dashed #E0E0E0;
	font-family: Arial, sans-serif;
	margin: 0px 20px;
	min-height: 320px;
	padding: 30px 30px 10px 30px;
	position: relative;
	text-align: center;
	
	h2 {
	font-weight: normal;
	font-size: 1.8em;
	vertical-align: bottom;
	
		img {
			padding: 0 0 0 15px;
		}
	}
}
			
			.fxo-fileupload-content {
				z-index: 99;
			}
			
			.fxo-fileupload-target-inner {
			background-color: white;
			height: 100%;
			width: 100%;
			}
			
			.fileupload-content h3 {
			color: black;
			font-weight: normal;
			font-size: 1.8em;
			}
			
.fileupload-or-container {
	background-color: $med-gray2;
	border-radius: 50%;
	color: #FFF;
	display: block;
	font-size: 15px;
	height: 30px;
	margin: 0 auto;
	position: relative;
		top: -15px;
	width: 30px;
}
			
			
			.fxo-bwiz-upload-container {
			    background-color: white;
			    margin-right: 10px;
			    border: 1px solid #999999;
			    width: 410px;
			    padding: 20px;
			    position: absolute;
			    top: 0px;
			}
			
.fileupload-splitbox {
	float: left;
}
			
.fileupload-splitbox-50 {
	box-sizing: border-box;
	width: 50%;
}
			
.fileupload-inputbox {
	margin-left: auto;
	margin-right: auto;
	width: 280px;
}
			
.hero-unit {
	background-color: $lt-gray1;
	border-radius: 6px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	margin: 50px auto 0 auto;	
}
			
			.fxo-fileupload-selectbutton.btn {
			height: 26px;
			width: 164px;
			line-height: 26px;
			}
			


			
			.fxo-bwiz-btnbox-left {
			    margin-right: 10px;
			}
			
			.fxo-bwiz-btnbox-right {
			    margin-left: 10px;
			}
.btn {

}

.btn.fxo-fileupload-cloudbutton {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
color: #333333;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
background-repeat: repeat-x;
border: 1px solid #cccccc;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}			

.fxo-fileupload-cloudbutton div {
	height: 30px;
	width: 100%;
}

.btn.fxo-fileupload-cloudbutton div.fxo-fileupload-icon-fxo {
	background: url('../img/fileupload-icon-fxo.png') no-repeat center center;
}

.btn.fxo-fileupload-cloudbutton div.fxo-fileupload-icon-fxo {
	background: url('../img/fileupload-icon-fxo.png') no-repeat center center;
}

